/*
 * 样式文件
 * @Author: 56
 * @Date: 2018-08-26 11:11:09
 * @Last Modified by: 56
 * @Last Modified time: 2018-08-27 20:57:14
 */

// 媒体选择器断点
$breakpoints: ( 'small': '1024px', 'smaller': '1400px', 'middle': '1600px', 'larger': '1800px', 'large': '2000px', );
// 左布局
$lef-width: 26.5rem;
// 菜单相关
$menu-width: 8rem;
$menu-border: #999;
$menu-color: #333;
$menu-icon-size: 24px;
// 个人资料相关
$avatar-size: 10rem;
$strong-color: #1a1a1a;
$normal-color: #999;
$normal-width: 18.3rem;
// 动画时长
$animation-duration: 0.2s;
@media (max-width: map-get($map: $breakpoints, $key: 'large')) {
  html,
  body {
    font-size: 20px;
  }
}

@media (max-width: map-get($map: $breakpoints, $key: 'larger')) {
  html,
  body {
    font-size: 18px;
  }
}

@media (max-width: map-get($map: $breakpoints, $key: 'middle')) {
  html,
  body {
    font-size: 16px;
  }
}

@media (max-width: map-get($map: $breakpoints, $key: 'smaller')) {
  html,
  body {
    font-size: 14px;
  }
}

@media (max-width: map-get($map: $breakpoints, $key: 'small')) {
  html,
  body {
    font-size: 12px;
  }
}

// 动画
@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.fade-in {
  animation: $animation-duration fadeIn ease forwards;
}

.fade-out {
  animation: $animation-duration fadeOut ease forwards;
}

// 主布局
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  overflow: hidden;
  font-family: Arial, 'Microsoft Yahei';
}

img {
  max-width: 100%;
}

////
//// 左布局
////
.left-layout {
  height: 100vh;
  width: $lef-width;
  background-color: black;
}

////
//// 内容主体
////
.content-layout {
  height: 100vh;
  position: relative;
  width: calc(100vw - #{$lef-width} - #{$menu-width});
}

////
//// 菜单布局
////
.menu-layout {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  width: $menu-width;
  height: 100vh;
  box-sizing: border-box;
  /*
   * 菜单图标
   */
  .menu-icon-layout {
    position: relative;
    height: $menu-width;
    width: $menu-width;
    background-color: $menu-border;
    .menu-icon {
      position: absolute;
      content: ' ';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: $menu-icon-size;
      width: $menu-icon-size;
      background: url('./assets/menu.png') no-repeat no-repeat;
      cursor: pointer;
      transition: all $animation-duration ease;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &.expand {
    >.menus {
      display: block;
    }
  }
  /**
   * 菜单列表
   */
  .menus-layout {
    height: calc(100vh - #{$menu-width});
    border-left: solid 1px $menu-border;
    position: relative;
  }
  .menus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    flex-direction: column;
    list-style: none;
    text-align: center;
    .menu-item {
      margin-top: 4.7rem;
      transform: rotate(90deg);
      a {
        text-decoration: none;
        color: $menu-border;
        font-weight: 600;
        transition: all $animation-duration ease;
        &:focus,
        &:hover {
          color: $menu-color;
          transform: scale(1.2);
        }
      }
    }
  }
}

////
//// 个人资料介绍
////
.person-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  .person-avatar {
    border-radius: 50%;
    height: $avatar-size;
    width: $avatar-size;
  }
  .person-introduce {
    margin-left: 4rem;
    margin-top: -0.5rem;
    color: $normal-color;
    font-weight: bold;
    span {
      display: block;
    }
    .person-resume {
      height: 1.4rem;
      line-height: 1.4rem;
      width: 5rem;
      text-align: center;
      font-size: 0.9rem;
      background-color: $normal-color;
      color: white;
      border-radius: 3px;
    }
    .person-position {
      color: $strong-color;
      font-size: 5rem;
      line-height: 7rem;
      white-space: nowrap;
    }
    .person-motto {
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin-top: 0.5rem;
      width: $normal-width;
      letter-spacing: -0.25px;
    }
    .person-email {
      font-size: 1rem;
      line-height: 1.4rem;
      margin-top: 1.5rem;
      width: $normal-width;
      color: #333;
    }
  }
}
