aside#js-menu-layout.menu-layout.expand
  div#js-menu.menu-icon
  nav.menus
    li.menu-item
      a(href="/about") About
    li.menu-item
      a(href="/opus") Opus
    li.menu-item
      a(href="/Explore") Explore
