aside#js-menu-layout.menu-layout.expand
  div.menu-icon-layout
    div.menu-icon
  div.menus-layout.fade-in
    nav.menus
      li.menu-item
        a(href="/about") About
      li.menu-item
        a(href="/opus") Opus
      li.menu-item
        a(href="/Explore") Explore
