div.content-layout
  section.person-info
    //- 头像
    div.person-avatar
      img#avatar(src="" alt="avatar")
    //- 介绍内容
    article.person-introduce
      span.person-resume
      span.person-position UI Designer
      span.person-introduce Everyone should have a goal, and becoming an excellent UI designer is my way.
      span.person-email yurong9727@163.com
